* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}

.navbar {
    background: rgb(61, 190, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.navbar_links ul {
    display: flex;
}

li {
    list-style: none;
}

.navbar_links li a {
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 50px;
    font-size: 45px;
}

header {
    color: white;
    text-align: center;
    background-image: url(./img/desktop/image-header.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 570px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, 600px);
}

.transform {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}

.egg{
    background-image: url(./img/desktop/image-transform.jpg);
}

.glass {
    background-image: url(./img/desktop/image-stand-out.jpg);
}

.graphic {
    background-image: url(./img/desktop/image-graphic-design.jpg);
}

.photography {
    background-image: url(./img/desktop/image-photography.jpg);
}