* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');


body {
    font-size: 18px;
    width: 100vw;
}


header {
    color: white;
    background: url(./img/mobile/image-header.jpg) bottom center/cover;
    
    h1 {
        padding-top: 20%;
        padding-bottom: 15%;
        font-family: 'Fraunces', serif;
        font-size: 2.5rem;
        letter-spacing: .3rem;
    }

    .headerimg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40%;
        
    }

    .navbar_brandname {
        padding-top: 5%;
        padding-left: 5%;
        display: flex;
        justify-content: flex-start;
    }

    a {
        height: 18px;
        &:hover, &:active {
            
        }
    }
}

//***********NAVBAR MENU ***********//


#menuToggle {
    display: block;
    position: absolute;
    padding-top: 0;
    right: 5%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    }
    
    #menuToggle input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0; 
    z-index: 2;
    -webkit-touch-callout: none;
    
    }
    
    #menu {
    clip-path: polygon(0 11%, 90% 11%, 100% 0, 100% 100%, 75% 100%, 51% 100%, 0 100%);
    position: absolute;
    width: 320px;
    margin: 30px 0px 0 -300px;
    padding: 40px;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    opacity: 0%;
    }
    
    #menu li{
    padding-top: 40px;
    a{
    font-family: 'Barlow', sans-serif;
    }
    }
    
    #menuToggle input:checked ~ ul{
    transform: none;
    opacity: 100%;
    transition: all ease-in-out 0.1s;
    }
    

//******************MENU***END***************//


.wrapper {
    display: grid;
    grid-template-columns: repeat(1fr);
    
        img {
            width: 100%;
            height: 100%;
        }

        h2 {
            padding-bottom: 15%;
        }

        p {
            padding-bottom: 15%;
        }
    


    .transform, .audience {
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15%;

        h2, a {
            color: hsl(212, 27%, 19%);
        }

        h2 {
            font-family: 'Fraunces', serif;
        }

        p {
            color: #95949A;
            font-family: 'Barlow', sans-serif;
        }

        a {
            font-family: 'Barlow', sans-serif;
            text-shadow: 
            0px 10px 15px red;
            border-radius: 10%;
        }
    }


    .graphic {
        height: auto;
        background: url(./img/mobile/image-graphic-design.jpg) center/cover;
        display: flex;
        flex-direction: column;
        padding-top: 80%;
        padding-left: 12%;
        padding-right: 12%;
        color: hsl(167, 40%, 24%);
        

        h3 {
            padding-bottom: 10%;
            font-family: 'Fraunces', serif;
        }

        p {
            font-family: 'Barlow', sans-serif;
        }
    }

    .photography {
        height: auto;
        background: url(./img/mobile/image-photography.jpg) center/cover;
        display: flex;
        flex-direction: column;
        padding-top: 80%;
        padding-left: 12%;
        padding-right: 12%;
        color: hsl(198, 62%, 26%);

        h3 {
            padding-bottom: 10%;
            font-family: 'Fraunces', serif;
        }

        p {
            font-family: 'Barlow', sans-serif;
        }
    }
}


.test {
    color: #AEAEAE;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: 'Fraunces', serif;
}

.testimonials {

    background: hsl(0, 0%, 100%);

    .testimonials_picture {
        border-radius: 50%;
        width: 70px;
    }

    .testimonials_p {
        color: #77787A;
        padding-top: 15%;
        padding-bottom: 15%;
        padding-left: 12%;
        padding-right: 12%;
        font-family: 'Barlow', sans-serif;
    }

    .testimonials_name {
        color: #222A2D;
        padding-bottom: 5%;
        padding-left: 12%;
        padding-right: 12%;
        font-family: 'Fraunces', serif;
    }

    .testimonials_job {
        color: #BCBBB9;
        font-size: small;
        padding-bottom: 15%;
        padding-left: 12%;
        padding-right: 12%;
    }
}




.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    img {
        width: 100%;
        height: 100%;
    }
}

footer {
    
    padding-top: 15%;
    background: #90D4C5;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;

    #logo {
        filter: invert(70%) sepia(80%) saturate(500%) hue-rotate(116deg) brightness(95%) contrast(100%);
    }

    ul {
        padding-top: 15%;
         li {
            display: inline-block;
            align-items: center;
            padding-bottom: 15%;
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    .footer_icones {
        display: inline-block;
        align-items: center;
        padding-bottom: 15%;
    }

    a {
        padding-left: 5%;
        padding-right: 5%;
        color: #2C7363;
    }

}


//*************************DESKTOP ADAPTATION****************************//

@media screen and (min-width: 800px) {
    header {
        background: url(./img/desktop/image-header.jpg) no-repeat bottom/cover;
        height: 80vh;

        .navbar_brandname {
            padding-top: 5%;
            padding-left: 2%;
        }

        h1 {
            font-size: 3.5rem;
            padding-top: 10vh;
            padding-bottom: 10vh;
        }

    }

    .wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        
            h2 {
                padding-bottom: 15%;
            }
        
            p {
                padding-bottom: 15%;
            }

        .transform, .audience {

            height: 45vh;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-left: 5em;
            padding-right: 5em;
            padding-top: 10%;
            padding-bottom: 10%;

            h2 {
                font-size: 2rem;
                text-align: left;
                padding-top: 20%;
                padding-bottom: 5%;
            }

            p {
                text-align: left;
                padding-top: 5%;
                padding-bottom: 5%;
            }
        
            a {
                text-align: left;
                border-radius: 10%;
                padding-top: 5%;
                padding-bottom: 20%;
            }
        }

        .graphic, .photography{
            padding-top: 50%;
            height: auto;
            padding-left: 25%;
            padding-right: 25%;
            
            
            p {
                font-size: 14px;

            }
        } 

        .graphic {
            background: url(./img/desktop/image-graphic-design.jpg) center/cover;
        }

        .photography {
            background: url(./img/desktop/image-photography.jpg) center/cover;
        }
        
        .egg, .glass {
            height: 100%;
        }

    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .test {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 10%;
        padding-right: 10%;

    }

    footer {
        padding-top: 5%;
        background: #90D4C5;
        text-decoration: none;
        font-family: 'Barlow', sans-serif;
        

        #logo {
            filter: invert(70%) sepia(80%) saturate(500%) hue-rotate(116deg) brightness(95%) contrast(100%);
        }

        ul {
            padding-top: 5%;
            
            li {
                padding-bottom: 5%;
                padding-left: 2%;
                padding-right: 2%;
            }
        }

        a {
            padding-left: 2%;
            padding-right: 2%;
            color: #2C7363;
        }
        


    }
    
      
    
}