@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 18px;
  width: 100vw;
}

header {
  color: white;
  background: url(./img/mobile/image-header.jpg) bottom center/cover;
}

header h1 {
  padding-top: 20%;
  padding-bottom: 15%;
  font-family: 'Fraunces', serif;
  font-size: 2.5rem;
  letter-spacing: .3rem;
}

header .headerimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40%;
}

header .navbar_brandname {
  padding-top: 8%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
}

a {
  height: 18px;
}

a:hover, a:active {
  border-radius: 30%;
  background: yellow;
}

#menu {
  -webkit-clip-path: polygon(0 11%, 90% 11%, 100% 0, 100% 100%, 75% 100%, 51% 100%, 0 100%);
          clip-path: polygon(0 11%, 90% 11%, 100% 0, 100% 100%, 75% 100%, 51% 100%, 0 100%);
  position: absolute;
  width: 320px;
  margin: 30px 0px 0 -300px;
  padding: 40px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  opacity: 0%;
}

#menu li {
  padding-top: 40px;
}

#menu li a {
  font-family: 'Barlow', sans-serif;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  opacity: 100%;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
}

.wrapper img {
  width: 100%;
  height: 50vh;
}

.wrapper h2 {
  padding-bottom: 15%;
}

.wrapper p {
  padding-bottom: 15%;
}

.transform, .audience {
  background-color: white;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.transform h2, .transform a, .audience h2, .audience a {
  color: #23303e;
}

.transform h2, .audience h2 {
  font-family: 'Fraunces', serif;
}

.transform p, .audience p {
  color: #95949A;
  font-family: 'Barlow', sans-serif;
}

.transform a, .audience a {
  font-family: 'Barlow', sans-serif;
  padding-bottom: 15px;
  border-bottom: solid 10px #FFD8D1;
  border-radius: 10%;
}

.egg, .glass {
  height: 50vh;
}

.graphic {
  height: 80vh;
  background: url(./img/desktop/image-graphic-design.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80%;
  padding-left: 12%;
  padding-right: 12%;
  color: #25564b;
}

.graphic h3 {
  padding-bottom: 10%;
  font-family: 'Fraunces', serif;
}

.graphic p {
  font-family: 'Barlow', sans-serif;
}

.photography {
  height: 80vh;
  background: url(./img/desktop/image-photography.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80%;
  padding-left: 12%;
  padding-right: 12%;
  color: #19536b;
}

.photography h3 {
  padding-bottom: 10%;
  font-family: 'Fraunces', serif;
}

.photography p {
  font-family: 'Barlow', sans-serif;
}

.testimonials {
  background: white;
}

.testimonials h3 {
  color: #AEAEAE;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 12%;
  font-family: 'Fraunces', serif;
}

.testimonials .testimonials_picture {
  border-radius: 50%;
  width: 70px;
}

.testimonials .testimonials_p {
  color: #77787A;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 12%;
  font-family: 'Barlow', sans-serif;
}

.testimonials .testimonials_name {
  color: #222A2D;
  padding-bottom: 5%;
  padding-left: 12%;
  padding-right: 12%;
  font-family: 'Fraunces', serif;
}

.testimonials .testimonials_job {
  color: #BCBBB9;
  font-size: small;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 12%;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.gallery img {
  width: 100%;
  height: 100%;
}

footer {
  padding-top: 15%;
  background: #90D4C5;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
}

footer #logo {
  -webkit-filter: invert(70%) sepia(80%) saturate(500%) hue-rotate(116deg) brightness(95%) contrast(100%);
          filter: invert(70%) sepia(80%) saturate(500%) hue-rotate(116deg) brightness(95%) contrast(100%);
}

footer ul {
  padding-top: 15%;
}

footer ul li {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
}

footer .footer_icones {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15%;
}

footer a {
  padding-left: 5%;
  padding-right: 5%;
  color: #2C7363;
}

@media screen and (min-width: 600px) {
  header {
    background: url(./img/desktop/image-header.jpg) no-repeat bottom/cover;
    height: 80vh;
  }
  header h1 {
    padding-top: 5%;
    padding-bottom: 10%;
  }
  header figure {
    height: 30%;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .wrapper h2 {
    padding-bottom: 15%;
  }
  .wrapper p {
    padding-bottom: 15%;
  }
  .transform, .audience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .gallery img {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */